{:kotoba.app/id "cloud.itonami.unspsc-43", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigwosw4eousg3syzsjewsxh4svcijdonjn7eilka2fvnp3khrpl3a", :kotoba.app/embed-url "ipfs://bafkreigwosw4eousg3syzsjewsxh4svcijdonjn7eilka2fvnp3khrpl3a", :published {:archive "https://kotobase.net/ipfs/bafkreigwosw4eousg3syzsjewsxh4svcijdonjn7eilka2fvnp3khrpl3a", :size 72740, :put-status 201, :get-status 200, :at "2026-08-15T13:59:59.882Z"}}
